body {
    background-image: url("../assets/images/background.jpg");
    background-size: 100%; 
    background-repeat: no-repeat;
    overflow-x: hidden;
}

#icon {
    position: absolute;
    left: 520px;
    top: 5px;
    height: 60px;
    width: 60px;
}

#logo {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    font-size: 50px;
}

#intro {
    position: relative;
    left: 150px;
    top: 70px;
    width: 530px;
    font-family: 'Open Sans Condensed', sans-serif;
}

#startBtn {
    position: absolute;
    right: -300px;
    top: 130px;
}

p, span, label {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    font-size: 25px;
    
}

form{
    position: relative;
    left: 400px;
}

#submitBtn {
    position: relative;
    left: 400px;
    margin-bottom: 20px;
}

#modalBtn {
    position: relative;
    left: 500px;
    top: -10px;
}

.row {
    position: relative;
    left: 200px;
}

#homeFoot {
    position: relative;
      top: 150px;
      right: -50px;
}

  footer {
      position: relative;
      top: 100px;
      right: 10px;
  }

img {
height: 250px;
width: 200px;
}  

@media screen and (max-width: 920px){
    #icon{
        left: 250px;
    }
    #startBtn{
        left: 350px;
    }
    form{
        left: 50px;
    }
    .row{
        left: 10px;
        width: 700px;
    }
}

@media screen and (max-width: 700px){
    #icon{
        left: 180px;
    }   
    #submitBtn{
        left: 50px;
    } 
    .row {
        width: 500px;
        left: -20px;
    }
}

@media screen and (max-width: 550px){
    #icon{
        left: 70px;
        height: 50px;
    }
    #intro{
        left: 20px;
        width: 200px;
        top: 0px;
    }    
    #startBtn{
        left: 250px;
    }
    form{
        left: 0px;
    }
    .row{
        left: 0px;
        width: 450px;
    }
}